.about-content {
  height: 50vh;

  padding-top: 100px;
}

.about-picture {
  height: 100%;
}

.about-text {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text p {
  width: 50%;
}
