.about-content {
  padding-top: 100px;
}

.about-picture {
  height: 40vh;

  background-image: image-url("thanh-about.jpg");
  background-size: cover;
  background-position: center;
}

.about-text {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text p {
  width: 50%;
}
