<div class="about-content text-center">

  <div class="about-picture"></div>

  <div class="about-text">
    <p>I've spent most of my life between places. I was quite young when I started to realize that my travels would shape the way I think, the way I act. <br><br> I never had the desire to travel the whole world for an entire year. But I do have a dream and that is to find a place where I would feel at home. And this dream can't come true without the exploration, without the adventures and without the many travels. I wish I could stay in every place I go long enough so I could picture myself there. <br><br> These are my discoveries.</p>
  </div>
</div>
