<div class="country-show">
  <div class="horizontal-scroll">
    <% @italy_locations.each do |l| %>
      <%= link_to location_path(l.url) do %>
        <%= image_tag ("#{l.url}-baner.jpg"), class: "scroll one" %>
      <% end %>
    <% end %>
  </div>
</div>

