<div class="country-show">
  <div class="horizontal-scroll">
    <% @country_locations.each do |l| %>
      <div class="banner">
        <%= link_to location_path(l.url) do %>
          <%= image_tag ("#{l.url}-banner.jpg"), class: "scroll one" %>
          <div class="overlay">
            <h1><%= l.location_name %></h1>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="scroll-horizontally">
  <h4>Please scroll</h4>
  <i class="fas fa-arrow-right"></i>
</div>
