.navbar-thanh-travels {
  height: 110px;

  padding: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: #333333;
    font-weight: 400;
  }
}

.logo {
  height: 85px;
}

.navbar-right-items {
  width: 30%;

  display: flex;
  justify-content: space-around;
}
